footer{
    border-top: 1px solid rgba(112, 112, 112, 0.3);
    position: absolute;
    top: 3578px;
    left: -1px;
    width: 1922px;
    height: 87px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.about2{
    position: relative;
    top:37px;
    left: 714px;
    width: 104px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
//napraw to
.apps2{
    position: absolute;
    top:37px;
    left: 868px;
    width: 40px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}
.supp2{ 
    position: absolute;
    top:37px;
    left: 958px;
    width: 62px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}
.rules{
    position: absolute;
    top:37px;
    left: 1070px;
    width: 41px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}
.policy{
    position: absolute;
    top:37px;
    left: 1161px;
    width: 46px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
}
.corprights{
    position: absolute;
    top:37px;
    left: 1505px;
    width: 152px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}