.navbar{
    width: 1920px;
    height: 90px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    position: relative;
}
.about{
    top: 30px;
    left: 313px;
    width: 94px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
}
.apps{
    top: 30px;
    left: 477px;
    width: 40px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
    position: absolute;
}
.supp{
    top: 30px;
    left: 587px;
    width: 62px;
    height: 17px;
    text-align: left;
    font: normal normal normal 17px/30px Circular Std Book;
    letter-spacing: 0px;
    color: #949494;
    opacity: 1;
    position: absolute;
}
.acc{
    top: 30px;
left: 1494px;
width: 131px;
height: 17px;
text-align: left;
font: normal normal normal 17px/30px Circular Std Book;
letter-spacing: 0px;
color: #333333;
opacity: 1;
position: absolute;
padding-bottom: 8px;
border-bottom: 1px solid #333333;
}