.ball-with-arrow{
    position: absolute;
    top: 701px;
    left: 1499px;
    width: 108px;
    height: 108px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 5px #00000008;
    opacity: 1;
    border-radius: 50%;

}