.pg3-content-1{
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.pg3-content-2{
padding-top: 41px;
padding-bottom: 13px;
}
.pg3-content-3{
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
    border-top: 1px solid rgba(112, 112, 112, 0.3);
    padding-top: 41px;
    padding-bottom: 35px;
}
.pg3-content-4{
padding-top: 41px;
}
.pg3-content{
    display: grid;
    position: absolute;
    top: 305px;
    grid-template-columns: 1921px;
    grid-auto-rows: 82px 100px 122px 87px;
    .pg3-content-text{
        position: absolute;
        left: 761px;
        width: 846px;
        height: 47px;
    }
    .content-title{
        position: absolute;
        text-decoration: underline;
        left: 423px;
        width: 200px;
        height: 17px;
    }
    .num{
        position: absolute;
        left: 313px;
        width: 6px;
        height: 17px;
    }
}